In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../title_basics.csv')

C:\Users\tango\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8549346 entries, 0 to 8549345
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 587.0+ MB

In [6]:
df = df.drop(['tconst','primaryTitle','originalTitle','endYear','runtimeMinutes'],axis=1)

In [7]:
df = df[df['startYear'] != '\\N']

In [9]:
df['genres']= df['genres'].apply(lambda x : x.split(','))

In [ ]:
pd.get_dummies(df['genres'].apply(pd.Series).stack()).sum(level=0)